extends ../layouts/default

block content
	header.intro-header(style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/images/sponsors-bg.jpg')")
		.container
			.row
				.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
					.site-heading
						h2
							| Our Sponsors
						hr.small
						span.subheading Helping the needy children in Sri Lanka
	// Main Content
	.container
		.col-sm-12
			div.colcontent
	hr
